<h2>Добавить новость</h2>
<form method="post" action="/<?=BASE?>publication/add/">
    <p><b>Заголовок</b> (до 100 символов):</p><textarea type="textarea" rows="1" cols="45" name="heading" maxlength="100" required></textarea>
    <p><b>Текст</b> (до 1 000 символов):</p><textarea rows="10" cols="45" name="text" maxlength="1000" required></textarea>
    <p><b>Источник</b> (ссылка до 100 символов):</p><textarea type="url" rows="1" cols="45" name="source" maxlength="100" required></textarea>
    <p><input type="submit" value="Сохранить"></p>
</form>