<!DOCTYPE html>
<html>
<head>
    <title>Авторизация</title>
    <meta charset="UTF-8">
</head>
<body>
	<h1>Авторизация</h1>
    <div class="center">
        <form method="post">
            <div><input type="text" name="login" placeholder="Логин" required/></div>
            <div><input type="password" name="pass" placeholder="Пароль" required/></div>
            <div><input type="submit" value="Войти"></div>
        </form>
    <p><a href="/<?=BASE?>user/reg/">Регистрация</a></p>
    </div>
</body>
</html>